@import './base.css';
@import 'primeicons/primeicons.css';
@import '/node_modules/primeflex/primeflex.css';

.propiedad {
  text-align: center;
  padding: 10px 0px;
}
.propiedad img {
  height: 120px;
  width: 100%;
  border-radius: 5px;
}
.propiedad img:hover {
  filter: brightness(40%);
}
.propiedad #nombreInmueble {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0px -10px 0px;
}
.propiedad #precioInmueble {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}
.p-error {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  line-height: 14px;
}
.media-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
}
